.moviesRow {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 22rem;
  gap: var(--space-3);

  overflow-x: auto;
  overflow-y: hidden;
  overscroll-behavior-inline: contain;
  -ms-overflow-style: none;
  scrollbar-width: none;

  scroll-snap-type: inline mandatory;

  /* overscroll-behavior-x: auto; */
}

.moviesRow::-webkit-scrollbar {
  display: none;
}

.card {
  /* flex: 0 0 22rem; */
  padding: var(--space-2) var(--space-1);

  scroll-snap-align: start;
}

.card:hover {
  scale: calc(1.02);
  transition:
    scale var(--transition-fast),
    box-shadow var(--transition-fast);
}

.card:hover > .posterWrapper {
  box-shadow: 0 0 10px var(--accent-soft);
}

.posterWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 2 / 3;
  border-radius: var(--radius-card);
  overflow: hidden;
}

.posterImage {
  position: absolute;
  object-fit: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.2),
    transparent
  );
}
